numpy
tokenizers==0.5.0
boto3
filelock
requests
tqdm>=4.27
regex!=2019.12.17
sentencepiece
sacremoses
importlib-resources
s3transfer<.6.0,>=0.5.0
botocore<1.25.0,>=1.24.31
jmespath<2.0.0,>=0.7.1
urllib3<1.27,>=1.25.4
python-dateutil<3.0.0,>2.1
six>=1.5
zipp>=3.1.0
certifi>=2017.4.17
charset-normalizer~=2.0.0
idna<4,>=2.5
click
joblib
importlib-metadata
typing-extensions>=3.6.4
transformers==2.5.0
tensorboardX
tensorboard
scikit-learn >= 0.22.2
seqeval
pyahocorasick
scipy
statsmodels
biopython
pandas
pybedtools
sentencepiece==0.1.91
